.hero-wrapper {
  .hero-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 20px;
    .image-content {
      margin-top: 70px;
      max-width: 460px;
      width: 100%;
      max-height: 350px;
      height: 100%;
      img {
        max-width: 460px;
        width: 100%;
        max-height: 350px;
        height: 100%;
        // object-fit: contain;
      }
      h5 {
        margin-top: 12px;
        font-size: 14px;
        text-transform: uppercase;
        font-family: var(--font-bold);
      }
      p {
        font-size: 14px;
        line-height: 18px;
        margin-top: 8px;
      }
    }
  }
}
